%tr
  %td.time(nowrap)= line.nicetime
  %td.nick(nowrap)= link_to(line.nick, line.sender, title: line.whois, class: line.nickcolor)
  %td.message
    %pre
      :preserve
        #{line.formatted_message}